<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Sign Up</title>
  <link rel="stylesheet" type="text/css" href="/static/css/register.css">

</head>


<body>
  <div class="register-container">
    <h2>Welcome to NextGen</h2>
    <form action="/register" method="POST">
      
      <input type="file" name="profile_picture" accept="image/*" required> <!-- Input for image -->
      <textarea name="bio" placeholder="Bio"></textarea> <!-- Textarea for bio -->


      <input type="submit" value="Sign Up">
    </form>
  </div>
</body>

</html>